#headerbnr {    
    background: url(images/bg_header.png);
    background-size: cover ;
    background-repeat: no-repeat;
    border: 5px solid black;
}
#headertxtaboutme {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: medium;
}
#jmbotxt{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: medium;
    background: rgb(251,255,206);
    background: linear-gradient(53deg, rgba(251,255,206,1) 0%, rgba(205,183,255,1) 100%);
}
#jmbotxtaboutme{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: medium;
    background: rgb(251,255,206);
    background: linear-gradient(53deg, rgba(251,255,206,1) 0%, rgba(205,183,255,1) 100%);
}
#navtxt{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: white;
    background-color: #000 !important;
}
cardheader{
    font-family: 'Roboto', sans-serif;
    color: black;
}
cardtxt{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: black;
}
hr {
    border: none;
    border-top: 6px double black;
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.carousel-item img{
    width: auto;
    height: 450px;
    max-height: 450px;
    margin: auto; 
    display: block;
    } 
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    }
      
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
#footerbnr {   
    color: black; 
    background: url(images/bg_footer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; 
    border: 5px solid black;
}
.carousel-indicators li{
    background-color: black !important;
    
    
}